@font-face {
  font-family: 'iconfont';  /* project id 774627 */
  src: url('//at.alicdn.com/t/font_774627_guagqsv422u.eot');
  src: url('//at.alicdn.com/t/font_774627_guagqsv422u.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_774627_guagqsv422u.woff') format('woff'),
  url('//at.alicdn.com/t/font_774627_guagqsv422u.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_774627_guagqsv422u.svg#iconfont') format('svg');
}
